/*
// General
*/

#mfgWrapper {
	position: fixed;
	right: 0;
	left: 50%;
	top: 42px;
	bottom: 0;
	z-index: 9000;
	transition: opacity 0.3s;
}

#mfgPanel {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	background: rgba(255,255,255,0.96);
	box-shadow: 0 0 20px 5px #203258;
	opacity: 1;
}

#mfgPanel p {
	margin: 0;
}

#mfgHeader {
	font-size: 40px;
	text-align: center;
	margin: 30px auto;
}

#mfgHeader p {
	font-size: 20px;
}

#mfgBody {
	position: absolute;
    top: 150px;
    bottom: 0;
    left: 10px;
    right: 10px;
}

#mfgBody > div {
	display: none;
}

#mfgBody > div > p {
    font-size: 13px;
	text-align: center;
	margin-bottom: 30px;
}

#mfgTest textarea {
    display: block;
    width: 50px;
    resize: none;
    height: 1.5em;
    text-align: center;
    margin: 0 auto;
}



/*
// Buttons/links
*/

.mfgButton,
.mfgLink {
	cursor: pointer;
}

.mfgButton {
    width: 200px;
	margin: 15px auto;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
    text-align: center;
}

.blue {
	background: #4267b2;
	color: white;
	border-radius: 3px;
}

.mfgLinkWrapper {
	text-align: center;
	margin: 20px 0;
}

.mfgLinkWrapper * {
	display: inline-block;
	padding: 0 15px;
    font-size: 15px;
}

.mfgLink.copy {
	font-size: 15px;
    display: inline-block;
    text-align: center;
	float: right;
}

.mfgLink.copy div {
    font-size: 75px;
    line-height: 75px;
}



/*
// Processing
*/

.mfgProgress p {
	padding: 20px 0 8px;
}

.mfgProgress p.left {
	float: left;
}

.mfgProgress p.right {
	float: right;
}

.mfgProgress .bar {
	clear: both;
	border: 1px solid #4267b2;
	padding: 4px;
	margin: 5px 0;
}

.mfgProgress .bar div {
	background: #4267b2;
	height: 20px;
    width: 0%;
}



/*
// Results
*/

#mfgResults {
	padding: 0 20px;
}

#mfgResults .mfgLinkWrapper {
	float: left;
	clear: left;
	text-align: left;
}

#mfgResults textarea {
    display: none;
    position: absolute;
    bottom: 10px;
    top: 170px;
	left: 0;
    width: 100%;
    box-sizing: border-box;
}

#mfgResults p.stats {
	float: left;
    font-size: 12px;
	text-align: left;
	white-space: pre-wrap;
	margin-bottom: 0;
}

/*
// Graph
*/

.mfgGraph {
    display: block;
    box-sizing: border-box;
}

.mfgGraph small {
    position: absolute;
    bottom: 10px;
    top: 170px;
	left: 0;
    width: 100%;
}

.mfgGraph fullscreen {
    position: fixed;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.mfgGraph svg.button {
	position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.mfgGraph svg.button.close {
    display: none;
}