/*
// General
*/

button {
	cursor: pointer;
	border: none;
	background: none;
}

#mfgWrapper {
	position: fixed;
	right: 0;
	left: 50%;
	top: 42px;
	bottom: 0;
	z-index: 500;
	transition: opacity 0.3s;
}

#mfgPanel {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	background: rgba(255,255,255,0.96);
	box-shadow: 0 0 20px 5px #203258;
	opacity: 1;
}

#mfgPanel p {
	margin: 0;
}

#mfgHeader {
	font-size: 40px;
	text-align: center;
	margin: 30px auto;
}

#mfgHeader p {
	font-size: 20px;
}

#mfgBody {
	position: absolute;
    top: 150px;
    bottom: 0;
    left: 10px;
    right: 10px;
}

#mfgBody > div {
	display: none;
}

#mfgBody > div > p {
    font-size: 13px;
	text-align: center;
	margin-bottom: 30px;
}

#mfgTest textarea {
    display: block;
    width: 50px;
    resize: none;
    height: 1.5em;
    text-align: center;
    margin: 0 auto;
}



/*
// Buttons/links
*/

.mfgButton,
.mfgLink {
	cursor: pointer;
}

.mfgButton {
    width: 200px;
	margin: 15px auto;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
    text-align: center;
}

.blue {
	background: #4267b2;
	color: white;
	border-radius: 3px;
}

.mfgLinkWrapper {
	text-align: center;
	margin: 20px 0;
}

.mfgLinkWrapper * {
	display: inline-block;
	padding: 0 15px;
    font-size: 15px;
}

.mfgLink.copy {
	font-size: 15px;
    text-align: center;
	float: right;
}

.mfgLink.copy div {
    font-size: 75px;
    line-height: 75px;
}



/*
// Processing
*/

.mfgProgress p {
	padding: 20px 0 8px;
}

.mfgProgress p.left {
	float: left;
}

.mfgProgress p.right {
	float: right;
}

.mfgProgress .bar {
	clear: both;
	border: 1px solid #4267b2;
	padding: 4px;
	margin: 5px 0;
}

.mfgProgress .bar div {
	background: #4267b2;
	height: 20px;
    width: 0%;
}



/*
// Results
*/

#mfgResults {
	padding: 0 20px;
}

#mfgResults .mfgLinkWrapper {
	float: left;
	clear: left;
	text-align: left;
}

#mfgResults textarea {
    display: none;
    position: absolute;
    bottom: 10px;
    top: 170px;
	left: 0;
    width: 100%;
    box-sizing: border-box;
}

#mfgResults p.stats {
	float: left;
    font-size: 12px;
	text-align: left;
	white-space: pre-wrap;
	margin-bottom: 0;
}



/*
// Graph
*/

.mfgGraph {
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    top: 170px;
	left: 0;
    right: 0;
	background: white;
	box-shadow: 0 0 10px 0px #203258;
}

.mfgGraph.fullscreen {
    position: fixed;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
    box-shadow: 0 0 20px 5px #203258;
}

#cy {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.mfgGraph .controls {
    top: 5px;
	left: 5px;
	z-index: 10;
	position: absolute;
	display: flex;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    align-items: center;
}

.mfgGraph svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.mfgGraph button {
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.mfgGraph .controls .close {
    display: none;
}


#graphDialog {
	position: fixed;
    bottom: 40px;
    left: 40px;
    padding: 5px;
    background: white;
    box-shadow: 0 0 10px 0px #203258;
	z-index: 1000;
	width: 220px;
    display: none;
}

#graphDialog form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#graphDialog form * {
	display: block;
    width: 25%;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 1px 4px;
    font-size: 11px;
    text-align: center;
}

#graphDialog form span {
	text-transform: uppercase;
    letter-spacing: 1px;
	width: 75%;
    text-align: right;
}

#graphDialog button {
    display: block;
	width: 100%;
	margin-top: 7px;
	padding: 5px;
}